.container-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 2%;
  transition: all 1s ease-in-out;
}

.container-main .box-todos {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: #222322;
  padding: 1rem;
}

.box-todos .card-todo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  background-color: #222322;
  padding: 1rem;
  display: none;
  transition: all 1s ease-in-out;
}

.message.active {
  display: flex;
}
