.container-todos {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bgform);
  padding: 1rem;
}

.container-todos h3 {
  color: var(--text);
  margin-bottom: 1rem;
}
